<launch>

  <!-- Motor node -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
 
  <!-- Ultrasonic sensor node -->
  <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic.launch" />
  
  <!-- Lidar sensor node -->
  <include file="$(find xycar_lidar)/launch/xycar_lidar.launch" />
  
  <!-- sensor_drive -->
  <node pkg="app_sensor_drive" type="app_sensor_drive.py" name="sensor_drive" output="screen" />

</launch>
